certs/
frontend/dist/
frontend_/

*.log
*.tmp
*.md
*.key
*.pem

!README.md
!frontend/public/help-articles/**/*.md
node_modules

.env

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
