LOG_LEVEL=info
LOG_MODE=inclusive
TZ=UTC
APP_PORT=9242
BACKEND_PORT=9243
BACKEND_ADDRESS=0.0.0.0
V2RS_ALLOW_INSECURE_HTTP=false
V2RS_PANEL_STATIC_DIR=/app/ui
V2RS_TRUSTED_PROXIES=127.0.0.1/32,172.16.0.0/12,10.0.0.0/8
FRONT_END_DOMAIN=*
SUB_PUBLIC_DOMAIN=panel.domain.com/api/sub
DATABASE_URL=postgresql://postgres:postgres@v2rs-db:5432/postgres
REDIS_HOST=v2rs-redis
REDIS_PORT=6379
API_INSTANCES=1
JWT_AUTH_SECRET=change_me_64bytes
JWT_API_TOKENS_SECRET=change_me_64bytes
SWAGGER_PATH=/docs
SCALAR_PATH=/scalar
IS_DOCS_ENABLED=false
METRICS_PORT=3001
METRICS_USER=admin
METRICS_PASS=admin
WEBHOOK_ENABLED=false
WEBHOOK_URL=https://your-webhook-url.com/endpoint
WEBHOOK_SECRET_HEADER=change_me_64_chars
BANDWIDTH_USAGE_NOTIFICATIONS_ENABLED=false
BANDWIDTH_USAGE_NOTIFICATIONS_THRESHOLD=[60, 80]
NOT_CONNECTED_USERS_NOTIFICATIONS_ENABLED=false
NOT_CONNECTED_USERS_NOTIFICATIONS_AFTER_HOURS=[6, 24, 48]
IS_TELEGRAM_NOTIFICATIONS_ENABLED=false
TELEGRAM_BOT_TOKEN=change_me
TELEGRAM_NOTIFY_USERS_CHAT_ID=change_me
TELEGRAM_NOTIFY_NODES_CHAT_ID=change_me
TELEGRAM_NOTIFY_CRM_CHAT_ID=change_me
TELEGRAM_NOTIFY_USERS_THREAD_ID=
TELEGRAM_NOTIFY_NODES_THREAD_ID=
TELEGRAM_NOTIFY_CRM_THREAD_ID=
