APP_PORT_SUB=3010
NODE_ENV=development

### Cerberus Panel URL, can be http://cerberus:3000 or https://panel.example.com
CERBERUS_PANEL_URL=https://panel.example.com
CERBERUS_API_TOKEN=API_TOKEN_FROM_CERBERUS

SUBPAGE_CONFIG_UUID=00000000-0000-0000-0000-000000000000

# Serve at custom root path, for example: sub
# Do not place / at the start/end
CUSTOM_SUB_PREFIX=

# Optional security bypass headers for protected panel setups
CADDY_AUTH_API_TOKEN=
CLOUDFLARE_ZERO_TRUST_CLIENT_ID=
CLOUDFLARE_ZERO_TRUST_CLIENT_SECRET=
