APP_PORT_SUB=3010
NODE_ENV=development
REMNAWAVE_PANEL_URL=http://v2rs:9242
REMNAWAVE_API_TOKEN=API_TOKEN_FROM_PANEL
SUBPAGE_CONFIG_UUID=00000000-0000-0000-0000-000000000000
CUSTOM_SUB_PREFIX=
CADDY_AUTH_API_TOKEN=
CLOUDFLARE_ZERO_TRUST_CLIENT_ID=
CLOUDFLARE_ZERO_TRUST_CLIENT_SECRET=
